.status-bar {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    padding: 1em 2em;
    height: 2.8em;
    background-color: #fff;
    border-top: 2px solid #dddddd;
    box-shadow: 0 1px 12px #e9e9e9;
}

.status-bar p {
    line-height: 2.8;
}
