html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fcfcfc;
    font-family: 'Bitter', serif;
    font-size: 1em;
    margin-bottom: 4em;
}

* {
    box-sizing: border-box;
}

h1,
h2,
p {
    margin: 0;
}

h1,
h2 {
    font-weight: bold;
}

h1 {
    font-size: 2.2em;
    margin: 0.5em 0.25em;
}

.newsdeck {
    width: 100%;
    max-width: 800px;
    padding: 2em;
    margin: 0 auto;
}

header {
    padding: 6px;
    margin-bottom: 1.2em;
}

.newsdeck-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 8px;
}

.paper {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    border-radius: 3px;
    padding: 3px;
    position: relative;
    cursor: pointer;
}

.paper:hover {
    padding: 2px;
    border: 3px solid #ddd;
    box-shadow: 0 1px 12px #e9e9e9;
}

.paper h2 {
    font-size: 1.04em;
    font-weight: 300;
    line-height: 1.2;
    padding: 10px;
    min-height: 3em;
    text-align: center;
}

.paper img {
    width: 100%;
}

.price {
    border-top: 1px solid #f3f3f3;
    padding: 10px;
    font-size: 0.862em;
}
